{{yield}}


<div class="list-item-container">
	<h3> {{list.title}} </h3>
	{{#each list.items as |item|}}
	{{#list-item item=item}} 
	{{/list-item}}
	{{/each}}
	<button {{action "deleteList" list}} class="delete-button">Delete List</button>
</div>



