{{outlet}}	


<h1> Hannah Jane's index route </h1>
{{outlet}}


<div class="lists-container">
	{{#each model as |list|}}
	{{#list-container list=list deleteList="deleteList"}}
	{{/list-container}}
	{{/each}}
</div>

<button>Add a List!</button>